spring:
  application:
    name: WardrobeAPI
  mongodb:
    uri: ${MONGODB_URI:mongodb+srv://database:database@databasecluster.3pach.mongodb.net/mydatabase?retryWrites=true&w=majority}
    database: ${MONGODB_DATABASE:wardrobe-api}

app:
  jwt:
    secret: ${JWT_SECRET:t2Siymw8JU6P3JpaapwP6YH80UmLm9IM0v6R8p5r+3TD2Tg6zRRoFL4Y9KnpO1q/0kx7OLtx+2ecih6MkXUswA==
    expiration:
      minutes: 60
